<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sampleprjct.Properties.Settings.Furniture_DBConnctionString"
            connectionString="Data Source=SHEBIN-PC;Initial Catalog=&quot;Furniture Sale&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>